{% extends "layout.html" %}
{% block title %}Game{% endblock %}
{% block main %}
    <h1>You've chosen {{ sign }}!</h1>
    <span id="tic_tac_toe">
        <button class="TTTButton"></button>
        <button class="TTTButton"></button>
        <button class="TTTButton"></button>
        <br>

        <button class="TTTButton"> </button>
        <button class="TTTButton"></button>
        <button class="TTTButton"></button>
        <br>

        <button class="TTTButton"></button>
        <button class="TTTButton"></button>
        <button class="TTTButton"></button>
    </span>
{% endblock %}